<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyinghuang.mapper.EmpMapper">
    <update id="update">
        update emp
--             set标签会自动地生成set字段，同时删除语句后多余的“，”
        <set>
            <if test="username!=null and username!=''">username=#{username},</if>
            <if test="password!=null and password!=''">password=#{password},</if>
            <if test="name!=null and name!=''">name=#{name},</if>
            <if test="gender!=null">gender=#{gender},</if>
            <if test="phone!=null and phone!=''">phone=#{phone},</if>
            <if test="job!=null">job=#{job},</if>
            <if test="salary!=null">salary=#{salary},</if>
            <if test="image!=null and image!=''">image=#{image},</if>
            <if test="deptId!=null">dept_id=#{deptId},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
        </set>
        where id=#{id}
    </update>
    <delete id="delete">
        delete from emp where id in
               <foreach collection="ids" item= "id" open="(" close=")" separator=",">
                    #{id}
               </foreach>
    </delete>
    <select id="list" resultType="com.liyinghuang.pojo.Emp">
        select e.*, d.name deptName from emp as e left join dept as d on e.dept_id = d.id
                                    <where>
--                                         进行模糊匹配
                                        <if test="name != null and name != ''">
                                            e.name like concat('%',#{name},'%')
                                        </if>
                                        <if test="gender !=null ">
                                            and e.gender = #{gender}
                                        </if>
                                        <if test="begin != null and end != null">
                                            and e.entry_date between #{begin} and #{end}
                                        </if>
                                    </where>
                                    order by e.update_time desc
    </select>
<!--    当工作经历有多条的时候，无法使用resultType正常封装，只能使用resultMap进行封装-->
<!--    <select id="getInfo" resultType="com.liyinghuang.pojo.Emp">-->
    <resultMap id="empResultMap" type="com.liyinghuang.pojo.Emp">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="phone" property="phone"/>
        <result column="job" property="job"/>
        <result column="salary" property="salary"/>
        <result column="image" property="image"/>
        <result column="entry_date" property="entryDate"/>
        <result column="dept_id" property="deptId"/>
        <result column="create_time" property="createTime"/>
        <result column="job" property="job"/>
        <collection property="exprList" ofType="com.liyinghuang.pojo.EmpExpr">
            <id column="ee_id" property="id"/>
            <result column="ee_begin" property="begin"/>
            <result column="ee_end" property="end"/>
            <result column="ee_company" property="company"/>
            <result column="ee_job" property="job"/>
            <result column="ee.emp_id" property="empId"/>
        </collection>

    </resultMap>
    <select id="getInfo" resultMap="empResultMap">
        select e.*,
               ee.id ee_id,
               ee.begin ee_begin,
               ee.end ee_end,
               ee.company ee_company,
               ee.job ee_job,
               ee.emp_id
               from emp e left join emp_expr ee on e.id=ee.emp_id where e.id=#{id}
    </select>
    <select id="countEmpJobData" resultType="java.util.Map">
        select (case job when 1 then '班主任'
                         when 2 then '讲师'
                         when 3 then '学工主管'
                         when 4 then '教研主管'
                         when 5 then '咨询师'
                         else '其他' end  )pos,
               count(*) nums
        from emp
        group by job
    </select>
    <select id="countEmpGenderData" resultType="java.util.Map">
        select (case gender when 1 then '男性'
                            else '女性' end) name,
               count(*) value from emp group by gender;
    </select>

</mapper>